
body{
    overflow: hidden;
}
img{
    position: absolute;
    left:-100%; ;
    width: 200px;
    z-index: -1;
    animation-duration: 5s;
    animation-name: coche;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-delay: 3s;
}


@keyframes coche{
    0%{ 
       
        translate:-100%;
        transform: none;
    }
   100%{
        translate: 1600%;
   }
}
 
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario {
    background: white;
    margin-top: 150px;
    padding: 40px;
    border: solid black;
    border-radius: 1em;
}
h1 {
    text-align: center;
     color:black; 
     font-size: 40px;
    }
input[type="text"],input[type="password"]{
    font-size: 20px;
    width: 82%;padding: 
    10px;border: none;}
.input-contenedor{
    margin-bottom:15px;
    border: 1px solid #aaa;
}
.icon {
    min-width: 50px; 
    text-align: center;color: #999;
}
.button {
    border: none; 
    width: 100%; 
    color: white; 
    font-size: 20px; 
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;}
.button:hover {
    background: #f01818;
}
p {
    text-align: center;
}
.link {
    text-decoration: none;
    color: black;
    font-weight: 600;}
.link:hover {
    color: #f01818;
}
@media(min-width:765px)
{
    .formulario{margin: auto;
        width: 200px;
        margin-top: 150px;
        border-radius: 2%;}
}
@media screen and (min-width: 400px) {
    img {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .formulario {
        margin: auto;
        width: 200px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

@media screen and (min-width: 992px) {
    .formulario {
        width: 700px;
    }
    h1 {
        font-size: 60px;
    }
    input[type="text"], input[type="password"] {
        font-size: 24px;
    }
    .button {
        font-size: 24px;
        padding: 20px 25px;
    }
}

@media screen and (min-width: 1200px) {
    .formulario {
        width: 600px;
    }
    h1 {
        font-size: 70px;
    }
    input[type="text"], input[type="password"] {
        font-size: 28px;
    }
    .button {
        font-size: 28px;
        padding: 25px 30px;
    }
}