/*cabecera*/
header *{
    float: left;
}
   
.logo-header{
    width: 60px;
    border-radius: 1em;
    position: relative;
    left: 20%;
    top: 10px;
}
    
.cabecera,.cuerpo,.footer {
    border:solid black;
    overflow:hidden;
}
.cabecera{
    position:sticky;
    background-color: #ffffff;
    overflow: hidden;
}
.menu{
    position: absolute;
    top:20%;
    left: 30%;
    width: 360px;
    height:40px;
}
.menu ul{
    width: 100%;
    font-size:20px;
    margin-left: 40px;
}
.menu li{
    float: left;
	width:auto;
    margin: 0;
	padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    border-left:solid ;
}
.menu a:hover{
    text-decoration: underline #f01818  ;
    transition: 0.2s;
    color: #f01818;
}
.main-nav{
    position: relative;
    padding: 0%;
    left: 70%; 
}
.cabecera ul{
    list-style-type: none;
}
.cabecera .iniciar{
    background-color:#f01818 ;
    border: solid white;
    width: auto;
    height: auto;
    padding: 20px;
    align-items:center ;
    border-radius: 2em;
}
.cabecera .iniciar:hover{
    background-color:white ;
    border-color: #f01818 ;
    transition: 0.5s;
}
.cabecera .registrar{
    border: solid #f01818;
    width: auto;
    height: auto;
    padding: 20px;
    align-items:center ;
    border-radius: 2em;
  
}
.cabecera .registrar:hover{
    background-color:#f01818 ;
    color: white;
    border-color: white;
    transition: 0.5s;
}
.cabecera a{
    text-decoration: none;
    color:black;
}
 
/* contenido*/

.cuerpo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cuerpo table{
    position: relative;
    top:10px;
    color: #000000;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
}
.carta{
    background-color: #eceeef;
    display: flex;
    justify-content: center;
    content-visibility: hidden;
    color: white;
    width: 300px;
    height: 120px;
    transition: 1s;
    font-size: large;
}

.boton{
    width: 120px;
    height: 100px;
    border-radius: 2em;
    color: white;
    background-color:#f01818 ;
    transition: 0.5s;
    text-align: center;
    text-justify: center;
    text-decoration: none;
}

.boton:hover{
    color: #f01818;
    background-color: white;
    border-color:#f01818;
}


#Canada{
    background-image: url(../Imagenes/banderas/Canada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#Canada:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/Canada.png);
    background-color: white;
}

#Espa単a{
    border: solid white;
    background-image: url(../Imagenes/banderas/Espa単a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#Espa単a:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/Espa単a.png);
    background-color: white;
}

#EstadosUnidos{
    border: solid white;
    background-image: url(../Imagenes/banderas/EstadosUnidos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#EstadosUnidos:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/EstadosUnidos.png);
    background-color: white;
}
#Bahrein{
    border: solid white;
    background-image: url(../Imagenes/banderas/Bahrain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#Bahrein:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/Bahrein.png);
    background-color: white;
}
#Azerbayan{
    border: solid white;
    background-image: url(../Imagenes/banderas/Azerbaijan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#Azerbayan:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/Azerbayan.png);
    background-color: white;
}
#Italia{
    border: solid white;
    background-image: url(../Imagenes/banderas/Italia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#Italia:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/Italia.png);
    background-color: white;
}
#Monaco{
    border: solid white;
    background-image: url(../Imagenes/banderas/Monaco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#Monaco:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/Monaco.png);
    background-color: white;
}
#Australia{
    border: solid white;
    background-image: url(../Imagenes/banderas/Australia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#Australia:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/Australia.png);
    background-color: white;
}
#ArabiaSaudi{
    border: solid white;
    background-image: url(../Imagenes/banderas/ArabiaSaudi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#ArabiaSaudi:hover{
    content-visibility: visible;
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/circuito/ArabiaSaudi.png);
    background-color: white;
}

/* footer*/  
.categorias div{
    display: grid;
    place-items: center;
    width: 140px;
    height: 120px;    
}
.categorias .foto:hover{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: solid #CDF6F4;
    border-radius:2em ;
}
    
.categorias img{
    display: flex;
    padding-top: 5%;
    width: 60px;
    height: 60px;
}
    
footer
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    width: 100%;
    height: 10%;
 
}
footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
footer hr.small
{
    margin:20px 0
}
footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
footer a
{
    color:#737373;
}

.flinks
{
    padding-left:0;
    list-style:none
}

.flinks a
{
    color:#ccc6c6;
    text-decoration: none;
}
footer a:active,.footer a:focus,footer a:hover
{
    color:#f01818;
    transition: 0.5s;
}
.flinks.inline li
{
    display:inline-block
}
footer .iconos-redes
{
    text-align:right
}
footer .iconos-redes a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}

/* iconos y hovers sacados de internet */
.iconos-redes
{
    list-style:none
}
.iconos-redes li
{
    display:inline-block;
    margin-bottom:4px
}
.iconos-redes li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.iconos-redes a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.iconos-redes a:active,.iconos-redes a:focus,.iconos-redes a:hover
{
    color:#fff;
    background-color:#000000
}
.iconos-redes.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px;
}
.iconos-redes a{
    background-position-y: 50%;
    background-position-x: 50%;
    position: relative;
}
.iconos-redes .a{
    background-image: url(../Imagenes/redes-sociales/logotipo-de-twitter.png);
    background-repeat: no-repeat;
}
.iconos-redes .b{
    background-image: url(../Imagenes/redes-sociales/instagram.png);
    background-repeat: no-repeat;

}
.iconos-redes .c{
    background-image: url(../Imagenes/redes-sociales/facebook.png);
    background-repeat: no-repeat;

}
.iconos-redes .d{
    background-image: url(../Imagenes/redes-sociales/youtube.png);
    background-repeat: no-repeat;

}

.iconos-redes a:hover
{
    background-color:rgb(255, 0, 0)
}
@media (max-width:767px)
{
  .iconos-redes li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}