 /*cabecera*/
header *{
  float: left;
}
 
.logo-header{
  width: 60px;
  border-radius: 1em;
  position: relative;
  left: 20%;
  top: 10px;
}
  
.cabecera,.cuerpo,.footer {
  border:solid black;
  overflow:hidden;
}
.cabecera{
  position:sticky;
  background-color: #ffffff;
  overflow: hidden;
}
.menu{
  position: absolute;
  top:20%;
  left: 30%;
  width: 360px;
  height:40px;
}
.menu ul{
  width: 100%;
  font-size:20px;
  margin-left: 40px;
}
.menu li{
  float: left;
width:auto;
  margin: 0;
padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  border-left:solid ;
}
.menu a:hover{
  text-decoration: underline #f01818  ;
  transition: 0.2s;
  color: #f01818;
}
.main-nav{
  position: relative;
  padding: 0%;
  left: 70%; 
}
.cabecera ul{
  list-style-type: none;
}
.cabecera .iniciar{
  background-color:#f01818 ;
  border: solid white;
  width: auto;
  height: auto;
  padding: 20px;
  align-items:center ;
  border-radius: 2em;
}
.cabecera .iniciar:hover{
  background-color:white ;
  border-color: #f01818 ;
  transition: 0.5s;
}
.cabecera .registrar{
  border: solid #f01818;
  width: auto;
  height: auto;
  padding: 20px;
  align-items:center ;
  border-radius: 2em;

}
.cabecera .registrar:hover{
  background-color:#f01818 ;
  color: white;
  border-color: white;
  transition: 0.5s;
}
.cabecera a{
  text-decoration: none;
  color:black;
}
 

/*
apartado de la tarjeta
*/
.cuerpo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carta {
  background:linear-gradient(black,rgb(31, 30, 30) ) ;
  border: solid black;
  border-radius: 1em;
  width: 240px;
  height: 230px;
  margin:0;
  padding: 0;
  overflow: hidden;
  align-content: center;
  z-index: 0;
  margin: 10px;
  transition: 1s;
}
.carta {
  display: grid;
  padding-right: 10px;
  justify-items: center;
}
.carta h1{
  visibility: hidden;
}
.carta img{
  width: 280px;
  filter: brightness(120%) opacity(80%);
}
.carta:hover body{
  overflow: hidden;
}
.carta:hover{
  background:linear-gradient(black,rgb(31, 30, 30) ) ;
  border: solid black;
  border-radius: 1em;
  width: 340px;
  height: 230px;
  margin:0;
  padding: 0;
  overflow: hidden;
  align-content: center;
  z-index:2;
}
.carta:hover h1{
  color: white;
  visibility: visible;
}



/* footer*/  
.categorias div{
  display: grid;
  place-items: center;
  width: 140px;
  height: 120px;    
}
.categorias .foto:hover{
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: solid #CDF6F4;
  border-radius:2em ;
}
  
.categorias img{
  display: flex;
  padding-top: 5%;
  width: 60px;
  height: 60px;
}
  
footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  width: 100%;
  height: 10%;
  padding: 0; 
}
footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
footer hr.small
{
  margin:20px 0
}
footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
footer a
{
  color:#737373;
}

.flinks
{
  padding-left:0;
  list-style:none
}

.flinks a
{
  color:#ccc6c6;
  text-decoration: none;
}
footer a:active,.footer a:focus,footer a:hover
{
  color:#f01818;
  transition: 0.5s;
}
.flinks.inline li
{
  display:inline-block
}
footer .iconos-redes
{
  text-align:right
}
footer .iconos-redes a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

/* iconos y hovers sacados de internet */
.iconos-redes
{
  list-style:none
}
.iconos-redes li
{
  display:inline-block;
  margin-bottom:4px
}
.iconos-redes li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.iconos-redes a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.iconos-redes a:active,.iconos-redes a:focus,.iconos-redes a:hover
{
  color:#fff;
  background-color:#000000
}
.iconos-redes.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;
}
.iconos-redes a{
  background-position-y: 50%;
  background-position-x: 50%;
  position: relative;
}
.iconos-redes .a{
  background-image: url(/Imagenes/redes-sociales/logotipo-de-twitter.png);
  background-repeat: no-repeat;
}
.iconos-redes .b{
  background-image: url(/Imagenes/redes-sociales/instagram.png);
  background-repeat: no-repeat;

}
.iconos-redes .c{
  background-image: url(/Imagenes/redes-sociales/facebook.png);
  background-repeat: no-repeat;

}
.iconos-redes .d{
  background-image: url(/Imagenes/redes-sociales/youtube.png);
  background-repeat: no-repeat;

}

.iconos-redes a:hover
{
  background-color:rgb(255, 0, 0)
}
@media (max-width:767px)
{
.iconos-redes li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}